.about {
  padding: 4em;

  .btn-primary {
    color: $primary;

    &:hover {
      color: #fff;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 90%;
    grid-gap: 5em;

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


      img {
        border-radius: 50%;
        margin-bottom: 2em;
      }

      p {
        margin-bottom: 3em;
      }
    }
  }

}